h1 {
  color: green !important;
}

img {
  width: 500px !important;
  height: 500px !important;
}

body {
  height: 350px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}
